@import '../../../utils'

#root[data-frame-color-scheme="dark"]
  --scroll-progress-height: 1px
  --scroll-progress-bg: #37adef
  --scroll-color: #ffffff36
#root[data-frame-color-scheme="light"]
  --scroll-progress-height: 2px
  --scroll-progress-bg: #178dff
  --scroll-color: #00000036

.ScrollBox
  position: relative
  display: flex
  flex-direction: column
  width: 100%
  height: 100%
  overflow: hidden

// ---
// -- Container of scrollable element
// -
.ScrollBox > .scroll-container
  position: relative
  width: 100%
  height: 100%
  overflow-x: hidden
  overflow-y: auto
  scrollbar-width: none
  scrollbar-color: var(--scroll-color) var(--frame-bg)
#root[data-native-scrollbar="true"] .ScrollBox > .scroll-container
  scrollbar-width: auto
#root[data-native-scrollbar="true"][data-native-scrollbars-thin="true"] .ScrollBox > .scroll-container
  scrollbar-width: thin
#root[data-native-scrollbar="true"][data-native-scrollbars-left="true"]  .ScrollBox > .scroll-container
  direction: rtl
  > .scrollable
    direction: ltr

// ---
// -- Scroll shadows
// -
.ScrollBox > .top-shadow
.ScrollBox > .bottom-shadow
  position: absolute
  width: 100%
  height: 12px
  z-index: 999
  opacity: 0
  transition: opacity var(--d-norm)
  &[data-show="true"]
    opacity: 1

.ScrollBox > .top-shadow
  top: -12px
  left: 0
  box-shadow: 0 1px 0 0 #00000012, 0 1px 12px 0 #00000068

.ScrollBox > .bottom-shadow
  left: 0
  bottom: -12px
  box-shadow: 0 -1px 0 0 #00000012, 0 -1px 12px 0 #00000068

// ---
// -- Scrollable element
// -
.ScrollBox > .scroll-container > .scrollable
  position: relative
  width: 100%
  min-height: 100%
  // background-color: var(--frame-bg)

// ---
// -- Tab overscroll button
// -
.ScrollBox > .top-overscroll-tab
.ScrollBox > .bottom-overscroll-tab
  position: absolute
  left: 0
  height: 15px
  width: 100%
  background: rgba(0,0,0,0.5)
  content: ""
  z-index: 999
  cursor: pointer
  color: black;
  font-size: 15px;
  background: rgb(256,256,256);
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  right: 0px;
  margin: 0 auto;
  border: 1px solid rgba(0,0,0,0.3);
  opacity: 0
  scale: 0
  transition: opacity var(--d-fast), scale var(--d-fast)
  &[data-show="true"]
    opacity: 1
    scale: 1
  &:hover
    background: rgb(111,111,111);

.ScrollBox > .top-overscroll-tab
  top: 8px

.ScrollBox > .bottom-overscroll-tab
  bottom: 8px

.ScrollBox > .top-overscroll-button > .icon
.ScrollBox > .bottom-overscroll-button > .icon
  background-image: url(chrome://browser/skin/arrow-back-1x.svg);
  background-size: cover;
  margin: auto;
  height: 12px;
  width: 12px;
  top: 0;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;

.ScrollBox > .top-overscroll-button > .icon
  transform: rotate(90deg)
  
.ScrollBox > .bottom-overscroll-button > .icon
  transform: rotate(-90deg)